<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
        <span>Taller Mecanico "El pepe"</span>
        <img src="assets/img/logo-pepe.png" class="logo" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" routerLink="/clientes" class="menu-button">
    <img src="assets/img/clientes-icon.png" alt="Clientes" class="menu-icon" />
    Módulo de Clientes
  </ion-button>
  <ion-button expand="full" routerLink="/inventario" class="menu-button">
    <img src="assets/img/inventario-icon.png" alt="Inventario" class="menu-icon" />
    Módulo de Inventario
  </ion-button>
  <ion-button expand="full" routerLink="/personal" class="menu-button">
    <img src="assets/img/personal-icon.png" alt="Personal" class="menu-icon" />
    Módulo de control de Personal
  </ion-button>
  <ion-button expand="full" class="menu-button">
    <img src="assets/img/comingsoon-icon.png" alt="Personal" class="menu-icon" />
    Proximamente...
  </ion-button>
</ion-content>
