<ion-header>
  <ion-toolbar>
    <ion-title>Editar Personal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="mecanico.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Especialidad</ion-label>
      <ion-input [(ngModel)]="mecanico.especialidad" name="especialidad" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horario</ion-label>
      <ion-input [(ngModel)]="mecanico.horario" name="horario" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">Guardar Cambios</ion-button>
  </form>
</ion-content>
